@import "colors";
.navbar{
     background: $dark;
     height: 80px;
     display: flex;
     justify-content: space-around;
     padding: 0.5rem calc((100vw -1200px) /2);
     z-index: 10;
     position: relative;
     .navbar__logo{
          color: rgba(109, 50, 48, 0.123);
     }
     .navbar__menu{
          display: flex;
          justify-content: space-around;
          padding: 10px
     }

}